@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h1>@ViewBag.MySuperProperty</h1>
<p>Practicing with Model Binding, Posting Data, Retriving Data without database Connection</p>
<p>Adding and Showing Customer by using form</p>
<p>Creating List of Customer, Redirect to List after create.</p>
<h4><a href="/Home/AddCustomer">Click on Add Cust</a></h4>