@model HelloMVC.Models.Customer
@{
    ViewBag.Title = "View Customer";
}

<h2>ViewCustomer</h2>
<h3>Customer ID:</h3>
<h4>@Model.customerId</h4><br />

<h3>Name:</h3>
<h4>@Model.customerName</h4><br />

<h3>Phone Number:</h3>
<h4>@Model.customerPhoneNumber</h4><br />